@import "../../scss/colors";
@import "../../scss/box-shadow";
.list-panel {
  z-index: 0;
  margin: 0 0 1rem 0;
  padding: 0px;
  background-color: white;
  min-height: 16rem;
  border: 1px solid palette-get(na-black-10);
  display: flex;
  flex-direction: column;
  @include standard-shadow;
  &.hidden {
    visibility: hidden;
  }
  &__indicator {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -18px;
    top: 4px;
    border-radius: 6px;
    &.register {
      background-color: #25d7b0;
    }
    &.not-register {
      background-color: #f5a623;
    }
  }
  &__scrollbox {
    padding: 10px 0 20px 0;
    overflow-y: scroll;
    max-height: 100%;
  }
  &__active-label {
    margin: 0;
    color: #8f8f8f;
    padding: 5px 0 0 0;
    line-height: 1;
    font-family: circular;
    font-size: 12px;
  }
  &__top {
    margin: 10px 0px 10px 40px;
    &__list-item {
      &__label,
      &__value {
        font-size: 12px;
        margin-bottom: 0px;
      }
      &__label {
        line-height: 1.5;
        color: palette-get(na-black);
        font-weight: 800;
        display: inline-block;
        clear: both;
      }
      &__value {
        line-height: 1.2;
        color: palette-get(na-black);
      }
    }
  }
  &__fadeout__top,
  &__fadeout__bottom {
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: 100;
    pointer-events: none;
  }
  &__fadeout__top {
    $gradient: 180deg, white 70%, rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient($gradient);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient($gradient);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient($gradient);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient($gradient);
    /* Standard syntax; must be last */
    top: 0px;
    left: 0px;
  }
  &__fadeout__bottom {
    $gradient: 0deg, white 70%, rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient($gradient);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient($gradient);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient($gradient);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient($gradient);
    /* Standard syntax; must be last */
    bottom: 0px;
    left: 0px;
  }
  &__content-container {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    .scrollable & {
      max-height: 350px;
      overflow-y: scroll;
    }
  }
  &__list-item {
    position: relative;
    margin: 12px 0px 0px 40px;
    padding-bottom: 10px;
    &.no-content {
      padding-bottom: 0px;
    }
    &:last-child {
      padding-bottom: 0px;
    }
    .person__icon {
      margin: 0px !important;
      display: table-cell;
    }
  }
  &__link-container {
    margin: 12px 0px 10px 40px;
  }
  &__chrome {
    margin: 0px;
    background-color: #e6e6e6;
    border-color: #d5d5d5;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  &__category {
    margin-left: 40px;
    width: 356px;
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    &__name {
      color: palette-get(na-black-70);
      font-weight: bold;
      font-size: 15px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
    &__list-item {
      display: block;
      padding-right: 22px;
      float: left;
      clear: both;
      margin-bottom: 5px;
      line-height: 1.4;
      &.active {
        border: 2px solid;
        padding: 5px 6px;
      }
      &__label,
      &__value {
        font-size: 12px;
        margin-bottom: 0px;
      }
      &__label {
        line-height: 1.5;
        color: palette-get(na-black);
        font-weight: 800;
        display: inline-block;
        clear: both;
      }
      &__value {
        line-height: 1.2;
        color: palette-get(na-black);
      }
    }
  }
  h1.list-panel__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    font-family: circular;
    letter-spacing: normal;
    color: palette-get(na-black);
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1rem;
  }
  h2.list-panel__subheading {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    font-family: circular;
    letter-spacing: normal;
    color: palette-get(na-black);
    margin-top: 3px;
    margin-bottom: 0;
    &.has-image {
      padding-left: 15px;
    }
  }
  p.list-panel__chrome__label {
    font-size: 18px;
    font-family: circular;
    font-weight: 600;
    margin: 0;
    padding: 15px 0px 15px 25px;
  }
  a {
    text-decoration: underline;
    color: palette-get(na-black);
    font-weight: 400;
  }
  a.list-panel__link {
    text-decoration: none;
    font-weight: 200;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  a.list-panel__title-link {
    font-weight: inherit;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
  }
}
